body {
    background: black;
}

main, footer {
    display: none;
}

.boot {
    width: 100%;
    height: 100%;
    background: black;
    color: silver;
    font-family: "Perfect DOS VGA 437 Win", monospace;
}
