/* XXX: fork the 98.css so I can get follow changes more easily. */

:root {
    --animate-duration: 0.2s;
}

body {
    background: teal;
    overflow: hidden;
}

.handle-inactive {
    /* This is for the draggable handles. */
    cursor: grab;
}

.handle-active {
    /* When dragging something we set <body> to this class. */
    cursor: grabbing !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: silver;     /* Must match button background in 98.css */
    z-index: 3000;          /* This takes the footer in front of the windows. */

    box-shadow: inset 0 1px #ffffff,
                inset 0 2px #808080;
    padding: 3px 0;

    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

footer > .right {
    padding: 0 6px;
}

button#start-button {
    min-width: 0;
    min-height: 0;
    margin: 0 0 0 3px;
    padding: 3px 9px 3px 6px;
    font-weight: bold;
}

button#start-button::before {
    content: "\25BC";
}

.title-bar {
    white-space: nowrap;
}

#window-bar {
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    border-left: 1px solid black;
}

#window-bar > button {
    width: 150px;
    margin: 0 1px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px;
}

.border-sunken {
    box-shadow: inset -1px -1px #ffffff, /* Must match button:active box-shadow in 98.css. */
                inset  1px  1px #0a0a0a,
                inset -2px -2px #dfdfdf,
                inset  2px  2px grey;
    padding: 3px;
}

#window-bar > button.restored {
    font-weight: bold;
}

#window-bar > button.active {
    box-shadow: inset -1px -1px #ffffff, /* Must match button:active box-shadow in 98.css. */
                inset  1px  1px #0a0a0a,
                inset -2px -2px #dfdfdf,
                inset  2px  2px grey;
}

#window-bar > button:focus {
    outline: none;
}

.menu-body {
    display: flex;
    flex-direction: column;
}

#start-menu {
    position: fixed;
    bottom: 26px;
    left: 0;
    display: none;
}
